<head>
    <link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet">
    <title>Weekly Habit Summary</title>
</head>
<body>
    <h1>Weekly Habit Summary</h1>

    <table>
        <tr>
            <td>
                Habits
            </td>
            {% for date in dates %}
                <td>
                    {{date}}
                </td>
            {% endfor %}
        </tr>
        {%for habit in habits%}
            <tr>
                <td>
                    {{habit}}
                </td>
                    {%for value in habits[habit]%}
                    
                        {% if value %}
                        <td class = "completed">
                        </td>
                        {% else %}
                        <td class = "incomplete">
                        </td>
                        {% endif %}
                    
                    {% endfor %}
                
            </tr>
        {% endfor %}      
    </table>  
    <div class="crud_buttons">
        <form action="/add" method="post">
            <label for="name">Add Habit</label>
            <input type="text" id="name" name="name">
            <input type="submit" value="Submit">
        </form>
        <form action="/delete" method="post">
            <label for="delete_select">Delete Habit</label>
            <select id="delete_select" name="name">
                <option value="">--Please Select a habit--</option>
                {% for habit in habits %}
                    <option value="{{habit}}">{{habit}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
        </form>
        <form action="/complete" method="post">
            <label for="complete_select">Complete Habit</label>
            <select id="complete_select" name="name">
                <option value="">--Please Select a habit--</option>
                {% for habit in habits %}
                    <option value="{{habit}}">{{habit}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>